@use "/src/mixin.scss" as *;

.guide {
  margin-top: 96px;
  text-align: center;

  .secondary-title {
    font-size: 40px;
    margin-bottom: 48px;
  }

  .cards {
    display: flex;
    gap: 1.5em;

    .card {
      box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);

      &__image {
        overflow: hidden;

        img {
          vertical-align: middle;
          transition: transform 0.5s;

          &:hover {
            transform: scale(1.1);
          }
        }
      }

      &__body {
        position: relative;
        padding: 24px;
        padding-top: 32px;

        .socials {
          position: absolute;
          top: 0;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 99;

          ul {
            display: flex;
            gap: 0.5em;

            a {
              @include items-center;
              @include size(38px, 38px);
              background-color: #fff;
              border-bottom: 1px solid var(--color-primary);
              border-radius: 50%;

              svg {
                fill: var(--color-primary);
                @include size(18px, 18px);
              }
            }
          }
        }

        .first-name {
          font-size: 20px;
          font-family: "Nunito", sans-serif;
        }

        .last-name {
          font-size: 14px;
          color: #808b8d;
        }
      }
    }

    @include on-tablet {
      flex-wrap: wrap;

      .card {
        width: calc(50% - 0.75em);
      }
    }

    @include on-mobile {
      .card {
        width: 100%;
      }
    }
  }
}
