.primary-title5685 {
  color: var(--color-primary);
  position: relative;
  background: white;
  display: inline-block;
  padding: 0 1em;
  font-weight: bold;

  &::after {
    content: "";
    display: block;
    z-index: -1;
    background: var(--color-primary);
    width: 180px;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
  }

  &::before {
    content: "";
    display: block;
    z-index: -1;
    background: var(--color-primary);
    width: 220px;
    position: absolute;
    bottom: 7px;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
  }
}
