@use "/src/mixin.scss" as *;

.main-nav {
  border-bottom: 1px solid rgba(256, 256, 256, 0.1);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  position: absolute;
  z-index: 99999;
  width: 100%;

  &.sticky {
    background-color: #fff;
    position: fixed;
    top: 0;

    .left-col {
      @include align-center;

      .menubar {
        display: flex;

        > li > a {
          height: 67px;
          color: #000;
        }
      }
    }
  }

  .container {
    @include space-between;

    .group {
      display: flex;

      a.logo {
        @include align-center;
        @include font("Nunito", 2.5em, var(--color-primary));
        gap: 0.3em;
      }

      .mobile-cta {
        display: none;
        padding: 0.25em 0.75em;
        border: 1px solid #eee;

        svg {
          @include size(17px, 21px);
        }
      }
    }
  }

  @include on-mobile {
    position: static;
    padding: 1em 0;

    .container {
      display: block;

      .group {
        align-items: center;
        justify-content: space-between;

        a.logo {
          font-size: calc(1.4em + 1.4vw);
        }

        .mobile-cta {
          display: block;
        }
      }
    }
  }
}
