:root {
  --color-white: #f5f5f5;
  --color-primary: #86b817;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Heebo", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.hidden {
  display: none !important;
}

.svg-sprite {
  display: none !important;
}
